/* ng-animate fade */
.nga-fade.ng-enter{
    transition: 0.5s linear all;
    opacity: 0;
}
.nga-fade.ng-enter.ng-enter-active{
    opacity: 1;
}
.nga-fade.ng-hide {
  opacity: 0;
}
.nga-fade.ng-hide-add,
.nga-fade.ng-hide-remove {
  transition: 0.3s linear all;
}

.login-bg{
    background: url(../img/bg1.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-logo{
    max-width: 200px;
    display: block;
    margin: 10px auto;
}

.md-sidenav-left .nav-header img{
    width: 150px;
    margin: 20px auto 0;
    display: block;
}
.md-sidenav-left .nav-header small{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(255,255,255,.5);
}
md-list-item.active{
    background-color: rgba(0,0,0,.2);
}

.alert{
    background: rgb(255, 119, 109)!important;
    color: rgb(255, 255, 255)!important;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
.icon-inline{
    vertical-align: top;
}
*{
    font-family: 'Sarabun', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Kanit', sans-serif;
}

#main-loading{
    margin-bottom: -5px!important;
    z-index: 2;
}
