<md-content layout="row" layout-align="center center" layout-padding style="height:100vh;" class="login-bg">

    <div md-theme="loginx" flex="100" flex-md="60" flex-gt-md="40">

        <img src="img/edoc-w-400.png" alt="Edoc Logo" class="login-logo">
        <md-card>
            <md-card-title layout="row" layout-align="center center">
                <md-card-title-text flex>
                    <span class="md-headline">ระบบสารบรรณอิเล็กทรอนิกส์</span>
                    <span class="md-subhead">มหาวิทยาลัยเทคโนโลยีราชมงคลพระนคร</span>
                </md-card-title-text>
                <small>3-{{version}}</small>
            </md-card-title>
            <md-card-content>
                <form name="f" ng-submit="(f.$valid) ? login(user) : null" novalidate>
                <fieldset layout="column" ng-disabled="isLoading">

                    <md-input-container flex="100">
                        <md-icon>account_circle</md-icon>
                        <label>Username</label>
                        <input ng-model="user.Username" name="Username" type="text" required>
                        <div ng-messages="f.Username.$error">
                            <div ng-message="required">โปรดระบุ</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="100">
                        <md-icon>vpn_key</md-icon>
                        <label>Password</label>
                        <input ng-model="user.Password" name="Password" type="password" required>
                        <div ng-messages="f.Password.$error">
                            <div ng-message="required">โปรดระบุ</div>
                        </div>
                    </md-input-container>

                    <md-progress-linear
                        ng-show="isLoading"
                        md-mode="indeterminate"
                        flex="100">
                    </md-progress-linear>

                    <md-card ng-show="hasError" class="alert">
                        <md-card-content>{{ errorMsg }}</md-card-content>
                    </md-card>

                    <div layout="row" layout-align="center">
                        <md-button type="submit" class="md-raised md-primary">
                            เข้าสู่ระบบ
                        </md-button>
                    </div>

                </fieldset>
                </form>
            </md-card-content>
        </md-card>

    </div>

</md-content>
