<div layout="row" class="layout-control" style="height:100vh;">

    <md-sidenav md-theme="sidenav" md-colors="{background: 'sidenav-primary'}" class="md-sidenav-left" md-component-id="sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
        <header class="nav-header">
            <a ui-sref="main.edoc">
                <img src="img/edoc-w-400.png" alt="Edoc Logo">
            </a>
            <small>{{version}}</small>
        </header>
        <md-content md-colors="{background: 'sidenav-primary'}">
            <md-list flex style="padding-top:0;">
                <md-divider></md-divider>
                <md-list-item ng-repeat="m in menu" ui-sref="{{m.ref}}" ng-click="closeSidenav()" ui-sref-active="active">
                    <md-icon md-font-icon="material-icons">{{m.icon}}</md-icon>
                    <p>{{m.name}}</p>
                </md-list-item>
            </md-list>
        </md-content>

    </md-sidenav>

    <div layout="column" flex>

        <md-toolbar md-theme="toolbar" class="md-whiteframe-1dp">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav()" class="md-icon-button" hide-gt-sm>
                    <md-icon md-font-icon="material-icons">menu</md-icon>
                </md-button>
                <h2 flex md-truncate>{{ pageTitle }}</h2>
                <md-menu>
                    <md-button class="md-icon-button" ng-click="userMenu($mdMenu, $event)">
                        <md-icon md-font-icon="material-icons">account_circle</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                <md-icon md-font-icon="material-icons" md-menu-align-target>account_circle</md-icon>
                                {{user.Username}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="logout">
                                <md-icon md-font-icon="material-icons" md-menu-align-target>exit_to_app</md-icon>
                                ออกจากระบบ
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-progress-linear ng-show="isLoading" id="main-loading" md-mode="indeterminate"></md-progress-linear>

        <md-content ui-view class="nga-fade"></md-content>

    </div>

</div>
