<div layout="row" layout-wrap layout-padding layout-align="center center">

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">บุคลากร จำแนกตามคณะ</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="Chartstaffdistfac"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">บุคลากร จำแนกตามหน่วยงาน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="Chartstaff"></canvas>
            </md-card-content>
        </md-card>
    </div>

</div>