<div layout="row" layout-wrap layout-padding layout-align="center center">

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนผู้สมัครเข้าทำงาน จำแนกตามประเภทบุคลากร</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworksupportandacadamic"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนผู้ลาออก จำแนกตามประเภทบุคลากร</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstaffleave"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนผู้สมัครเข้าทำงาน จำแนกตามคณะ ปี 2558 - ปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworkdistyearfaculty"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนผู้สมัครเข้าทำงาน จำแนกตามสำนัก สถาบัน ปี 2558 - ปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworkdistyearinstitute"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนผู้สมัครเข้าทำงาน จำแนกตามกอง ปี 2558 - ปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworkdistyeardivision"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนผู้เกษียณ จำแนกตามตำแหน่งวิชาการ (ผศ. รศ.)</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartgetretiredistposition"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวน ผู้เกษียณ จำแนกตามประเภทบุคลากร</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartgetretiredistline"></canvas>
            </md-card-content>
        </md-card>
    </div>

</div>

<!-- <div ui-view class="nga-fade"></div> -->