<div layout="row" layout-wrap layout-padding>
    <div flex="100" flex-gt-sm="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartsemptype"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-sm="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <!-- <canvas id="chartsempeducation"></canvas> -->

            </md-card-content>
        </md-card>
    </div>

</div>


<div id="chartContainer" style="height: 370px; width: 50%; margin-left:auto;margin-right:auto;"></div>

<div ui-view class="nga-fade"></div>