<div layout="row" layout-wrap layout-padding layout-align="center center">

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนบุคลากรสายวิชาการ จำแนกตามตำแหน่งวิชาการ ปีปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartteacheratworkdisttype"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนบุคลากรสายสนับสนุน จำแนกตามระดับ ปีปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstaffsupportlinepositiondist"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนบุคลากร สายวิชาการ จำแนกตามวุฒิการศึกษา</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartacademicEmployeeEducation"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนบุคลากร สายสนับสนุน จำแนกตามวุฒิการศึกษา</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartacademicEmployeeSupport"></canvas>
            </md-card-content>
        </md-card>
    </div>



</div>