<div layout="row" layout-wrap layout-padding layout-align="center center">

    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">จำนวนคนเริ่มปฏิบัติงาน แยกตามคณะ</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworkdistyearfaculty"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">จำนวนคนเริ่มปฏิบัติงาน แยกตามสำนัก สถาบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworkdistyearinstitute"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">จำนวนคนเริ่มปฏิบัติงาน แยกตามกอง</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworkdistyeardivision"></canvas>
            </md-card-content>
        </md-card>
    </div>



    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">จำนวนผู้เกษียณ จำแนกตามตำแหน่งวิชาการ (ผศ. รศ.)</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartgetretiredistposition"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">จำนวน ผู้เกษียณ จำแนกตามประเภทบุคลากร สายวิชาการ และสายสนับสนุน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartgetretiredistline"></canvas>
            </md-card-content>
        </md-card>
    </div>

</div>

<!-- <div ui-view class="nga-fade"></div> -->