<div layout="row" layout-wrap layout-padding layout-align="center center">

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center" style="margin-bottom: 15px;">
                    <span class="md-headline">จำนวนบุคลากร จำแนกตามประเภท ปีปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartsemptype"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center" style="margin-bottom: 15px;">
                    <span class="md-headline">จำนวนบุคลากร จำแนกตามคณะ ปีปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstaffworkdistfaculty"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center" style="margin-bottom: 15px;">
                    <span class="md-headline">จำนวนบุคลากร จำแนกตามสำนัก สถาบัน ปีปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstaffworkdistinstitute"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center" style="margin-bottom: 15px;">
                    <span class="md-headline">จำนวนบุคลากร จำแนกตามกอง ปีปัจจุบัน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstaffworkdistdivision"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนผู้บริหาร ที่มาจากการแต่งตั้งจำแนกตามหน่วยงาน ปี 2562</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartappointedexecutive62"></canvas>
            </md-card-content>
        </md-card>
    </div>
</div>


<!-- <div ui-view class="nga-fade"></div> -->