<div layout="row" layout-wrap layout-padding layout-align="center center">
    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">จำนวนผู้สมัครนักศึกษา</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstdapplydistyear" style="max-width: 800px;"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">จำนวนนักศึกษา</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstddistyeartype" style="max-width: 800px;"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">นักศึกษาแยกสายวิทย์-สายสังคม</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstdsocialsciencedistyear" style="max-width: 800px;"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">อาจารย์ที่ปรึกษา จำแนกตามปีและภาคการศึกษา</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartadviserdistyearterm" style="max-width: 800px;"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">ทุนการศึกษา</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartscholardistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">ยอดเงินหนี้ค้างชำระ</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartdebtstddistyear" style="max-width: 800px;"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-md="80">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">คอร์สที่เปิดสอน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartcoursesdistsciencesocial" style="max-width: 800px;"></canvas>
            </md-card-content>
        </md-card>
    </div>



</div>