<div layout="row" layout-wrap layout-padding layout-align="center center">

    <canvas id="chart" width="100" height="50"></canvas>
    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">ผู้สมัครเข้าศึกษา</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstdapplydistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>


    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">นักศึกษาทั้งสิ้น</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstudentdistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>


    <!-- <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">จำนวนเงินค่าลงทะเบียนทั้งสิ้น และยอดค้างชำระ ปีการศึกษา 2562</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartdebtstddistyear"></canvas>
            </md-card-content>
        </md-card>
    </div> -->

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">เงินรายได้ จากค่าลงทะเบียน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartdebtstudentdistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xl="50">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">บุคลากร</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworksupportandacadamic"></canvas>
            </md-card-content>
        </md-card>
    </div>

</div>