<div layout="row" layout-wrap>

    <div flex=100 flex-lg=50 flex-gt-lg=33>
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">ผู้สมัครทั้งสิ้น</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstdapplydistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>


    <div flex=100 flex-lg=50 flex-gt-lg=33>
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">นักศึกษาทั้งสิ้น</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstudentdistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>


    <div flex=100 flex-lg=50 flex-gt-lg=33>
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">เงินรายได้ จากค่าลงทะเบียน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartdebtstudentdistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex=100 flex-lg=50 flex-gt-lg=33>
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">รายจ่าย ตามกรอบงบประมาณ</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartresourcebudget"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex=100 flex-lg=50 flex-gt-lg=33>
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">เงินค้างชำระ จากค่าลงทะเบียน</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartbalancestudentdistyear"></canvas>
            </md-card-content>
        </md-card>
    </div>

    <div flex=100 flex-lg=50 flex-gt-lg=33>
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">บุคลากรทั้งสิ้น</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="chartstartworksupportandacadamic"></canvas>
            </md-card-content>
        </md-card>
    </div>



</div>